<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <!--reset css-->
    <link rel="stylesheet" type="text/css" href="http://s8.pdim.gs/static/e901e096f0fbc3fe.css" />
    <!--site css-->
    <link rel="stylesheet" type="text/css" href="http://s7.pdim.gs/static/79eca69f14627e4a.css" />

    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
   <div class="container"></div>
  
   <!--jquery-->
   <script src="https://s.h2.pdim.gs/static/4f3413d6aa6afffe.js"></script>

   <script src="index.js"></script>
  </body>
</html>